.CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  justify-content: start;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.Card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  justify-content: space-between; /* Ensure space between content and buttons */
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.Title {
  margin: 10px;
}
.Image {
  width: 200px; /* Set fixed width */
  height: 200px; /* Set fixed height */
  border-radius: 8px;
  object-fit: cover;
}

.Description {
  margin-top: 10px;
}

.Price {
  margin-top: auto;
  font-weight: bold;
}

.AddToCartButton,
.ViewProductButton {
  margin-bottom: 10px;
  margin-top: auto;
  padding: 15px 20px;
  background-color: #7446e9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}
.ViewProductButton {
  background-color: var(--color-secondary);
  color: #141414;
}
.ViewProductButton:hover {
  background-color: #0067b5;
}
.AddToCartButton:hover {
  background-color: #1e036e;
}

a {
  text-decoration: none;
  color: #000;
}

.StyledSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.StyledSearchBar {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 500px;
  max-width: 90vw;
  margin: auto;
}
