.CenteredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CartItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(251, 251, 251);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for card effect */
  width: 500px;
  background-color: #fff;
  max-width: 90vw;
}

.CartItem img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}

.CartItemDetails {
  flex: 1;
}

.Total {
  font-weight: bold;
  font-size: 1.5rem;
}

.CheckoutButton,
.ClearButton {
  margin-bottom: 10px;
  margin-top: auto;
  padding: 20px 40px;
  background-color: #7446e9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
}

.ClearButton {
  background-color: #a9a9a9;
  color: #141414;
}

.ClearButton:hover {
  background-color: #0067b5;
}

.CheckoutButton:hover {
  background-color: #1e036e;
}
