.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 90vw;
}

.productContent {
  max-width: 1000px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productDetails {
  display: flex;
  max-width: 1000px;
  margin-bottom: 20px;
}

.productImage {
  flex: 1;
  margin-right: 20px;
}

.productImage img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.productInfo {
  flex: 2;
}

.productInfo h2,
.productInfo p {
  margin-bottom: 10px;
}

.productInfo button {
  padding: 20px 60px;
  margin-top: 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
}

.productInfo button:hover {
  background-color: #1e036e;
}

.reviewsSection,
.reviewCard {
  max-width: 1000px;
  align-self: flex-start;
}

.reviewCard {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  max-width: 90vw;
}

.reviewCard p {
  margin-bottom: 10px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 90vw;
}
@media (max-width: 600px) {
  .productContent,
  .productDetails,
  .reviewsSection,
  .reviewCard,
  .productImage img {
    max-width: 90vw;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: center;
    margin: auto;
    padding: 10px;
  }
}
