.formContainer {
  width: 400px;
  max-width: 80vw;
  margin: 0 auto;
  padding: 60px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formField {
  margin-bottom: 20px;
}

.formField label {
  display: block;
  margin-bottom: 5px;
  max-width: 80vw;
}

.formField input,
.formField textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 80vw;
}

.error {
  color: red;
  font-size: 14px;
}
.submitButton {
  margin-bottom: 10px;
  margin-top: auto;
  padding: 15px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}
.successMessage {
  text-align: center;
  font-size: 1.5rem;
}
