.navbar {
  background-color: #dadada;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  color: #222222;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar a.active {
  background-color: rgb(191, 189, 189);
}
