.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e5e0ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  color: #222222;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar a.active {
  background-color: rgb(191, 189, 189);
}

.navElement {
  margin-right: 200px;
}
