.navbar {
  position: fixed; /* Set the navbar to be fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it span the entire width of the viewport */
  background-color: #d4caff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.navbar ul {
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  color: #222222;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar a.active {
  background-color: rgb(191, 189, 189);
}

.navElement {
  margin-right: 200px;
}
